
.quillHeader {
    width: 210mm;
}

.quillEditor {

    &>:last-child {
        position: relative;
        z-index: 0;
        width: 210mm;
        min-height: 297mm;
    }
}

.buttonPdf {
    width: 35px !important;
}