.block {
    .title {
        text-align: center;
    }

    .text {
        margin: 5px 0 20px;
        text-align: center;
    }
 
    a {
        margin-left: 5px;
        color: #008B91;
;
        text-decoration: none;
    }

    .passwordInput {
        margin-top: 16px;
    }

    .checkbox {
        margin: 0 0 10px;
    }
}
