.block {
    .title {
        text-align: center;
    }

    .text {
        margin-bottom: 16px;
        text-align: center;
    }
    
    .passwordField {
        margin-bottom: 16px;
    }
    
    .button {
        margin-top: 16px;
    }
}