.container {
    width: 1140px;
    // height: 70vh;
    margin: 0 auto;
    text-align: center;

    &>:nth-child(2) {
        position: sticky;
        top: 0px;
        z-index: 1;
        background: white!important;
    }

    .button {
        margin-top: 30px;
    }
}