.block {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    button,
    .title {
        margin: 20px 0px;
    }

    .resend {
        color: #008B91;
;
        cursor: pointer;
    }

    .closeButton {
        margin: 0;
    }
}
