.popupWrapper {
    display: flex;
    margin: 5px 2px;
    gap: 5px;
  }
  .popup {
    white-space: nowrap;
  }
  .tableInput {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 3px;
  }
  .tableUnit {
    width: 15px;
    height: 15px;
    border: 1px solid lightgray;
  }
  