.block {
    text-align: center;

    .text {
        margin: 10px 0 35px!important;
    }
    
    .formControl {
        width: 100%;
    }

    a {
        display: inline-block;
        margin-top: 16px;
        color: #008B91;
;
        text-decoration: none;
    }

    .button {
        margin-top: 16px;
    }
}
