
.container {
    display: flex;
    flex-direction: column;

    & input {
        box-sizing: border-box;
        width: 45px !important;
        height: 59px !important;
        margin: 5px;
        color: rgb(34, 51, 84);
        font-size: 18px;
        text-align: center;
        border: 1px solid #C4C4C4 !important;
        border-radius: 6px !important;
        padding-left: 4px !important;
        font-family: 'Roboto-Regular' !important;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    } 

    &>input:focus {
        outline-color: #008B91;
;
    }

    &>input:hover {
        border-color: #9099A9 !important ;
    }

    p {
        margin-top: 8px;
    }
}
