.block {

    .title {
        text-align: center;
    }

    .linkSignin {
        text-align: center;
        margin-top: 16px;

        a {
            margin-left: 5px;
            color: #008B91;
;
            text-decoration: none;
        }
    }
}
